iframe{
    width: 100vw;
    z-index: 44;
    top: 0;
    position: fixed;
    height: 781px
}

.youtube-close-btn {
    z-index: 201222;
    /* right: 0; */
    right: 0;
    margin: 0 auto;
    top: 44px;
    position: absolute;
}

.body {
    background: black
}