iframe {
    width: 100vw;
    z-index: 44;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    /* padding: 400px; */
    position: fixed;
    /* background: gray; */
    margin: auto;
    height: 100vh;
}

.el-rate__icon {
    font-size: 2rem;
    margin: 0;
}

.el-rate {
    height: auto;
    line-height: auto;
}

.is-horizontal {
    display: grid !important;
    grid-template-columns: 84px 1fr;
    grid-column: 200px 1fr;
}

.youtube-close-btn:hover {
    cursor: pointer;
}

.youtube-close-btn {
    z-index: 201222;
    margin: 0 auto;
    /* right: 0; */
    top: 86px;
    font-size: 2.5rem;
    /* top: -1rem; */
    right: 1rem;
    position: fixed;
}

.field-label {
    text-align: left;
    flex-grow: unset;
}

.body {
    background: black
}

@media only screen and (max-width: 750px) {
    .is-horizontal {
        grid-template-columns: unset;
    }
}