iframe{
    width: 100vw;
    z-index: 44;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    /* padding: 400px; */
    position: fixed;
    /* background: gray; */
    margin: auto;
    height: 100vh;
}

.youtube-close-btn:hover{
    cursor: pointer;
}
.youtube-close-btn {
    z-index: 201222;
    margin: 0 auto;
    /* right: 0; */
    top: 86px;
    font-size: 2.5rem;
    /* top: -1rem; */
    right: 1rem;
    position: fixed;
}




.body {
    background: black
}